* {
    font-family: sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

button{
    background-color: blueviolet;
    color: white;
    width: 100px;
    height: 30px;

    text-decoration: none;
    border: none;
    border-radius: 5%;

    text-align: center;

    padding: 5px;

    font-size: 16px;
}

input[type="text"]{
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
}

#tasks {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.task-item{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

:checked + label {
    text-decoration: line-through;
    color: green;
}
